@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper-body {
    margin: 0 auto;
    max-width: 1440px;
}

.wrapper-body_active {
    background-color: rgba(20, 20, 20, 0.6);
}

body {
    font-family: "Forum";
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

li {
    list-style-type: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #000000;
}

.title-header {
    padding: 20px;

    color: #FFF;
    text-shadow: 0 4px 4px ;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.wrapper-header {
    display: flex;
    align-items: flex-end;

    padding: 20px;
}

.link-nav {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    
    padding-right: 41px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

    color: #FFFFFF;
}

.link-nav:hover, .nav-item:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    color: #BB945F;
}

.icon-header {
    padding-bottom: 9px;
}

.icon-header:hover {
    cursor: pointer;
}

.burger-icon span {
    display: none;
}

.burger-menu {
    position: fixed;
    top: 98px;
    right: -1px;
    width: 40vw;

    transform: translateX(100%);
    transition: 1s;
        
    background-color: #000000;
    }

    .burger-menu-item {
        margin-bottom: 30px;
        text-align: center;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
    }

/* modal windows */
.background-modals {
    display: flex;
}

.background-modals_active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.5);
}

/*modal windows, header  */

.drop-menu-modal-windows {
    position: relative;
}

.drop-menu-no-authorization, .drop-menu-with-authorization {
    display: none;
}

/* .drop-menu-with-authorization */
.drop-menu-no-authorization_active, .drop-menu-with-authorization_active  {
    position: absolute;
    right: 32px;

    width: 80px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ffffff;
}

.drop-menu-title {
    margin-bottom: 5px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}

.hr-modal {
    width: 40px;
    height: 1px;
    margin-bottom: 15px;
    background-color:#BB945F;
}

.drop-menu-item-log-in, .drop-menu-item-register {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}

/* login modal and register modal */

/* .valid {
    background-color: #5fbb5f;
}

.valid {
    background-color: #cd1b48;
} */

.log-in {
    display: none;
}

.log-in_active {
    position: fixed;
    top: 30%;
    left: 45%;
    z-index: 10;
    
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 262px; 

    background-color: #ffffff;
}

.register {
    display: none;
}

.register_active {
    position: fixed;
    top: 30%;
    left: 45%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #ffffff;
}

.log-in-header, .register-header {
    display: flex;
    justify-content: center;
}

.log-in-svg, .register-svg {
    justify-self: end;
    cursor: pointer;
}

.log-in-title, .register-title {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.log-in-title {
    margin: 20px 67px 10px 95px;
}

.register-title {
    margin: 20px 54px 20px 85px;
}

.log-in-svg, .register-svg {
    margin-top: 15px;
}

.log-in-input-title, .register-input-title {
    margin-top: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.log-in-input, .register-input {
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    border: 1px solid #BB945F;
}

.log-in-button, .register-button {
    margin-top: 20px;
    margin-left: 25px;
    width: 75px;
    height: 31px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;

    cursor: pointer;
}

.log-in-button-name, .register-button-name {
    box-sizing: content-box;
    margin-top: 9px;
    margin-left: 20px;

    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    background-color: #FFFFFF;

    cursor: pointer;
}

.log-in-register-spans, .register-spans {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.log-in-register-link-item, .register-spans-link-item {
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.log-in-register-link, .register-spans-link {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;

    cursor: pointer;
}

/* my profile modal window */

.my-profile-modal-window {
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    display: none;
    background-color: #ffffff;
}

.my-profile-wrapper {
    /* width: 600px; */
    display: flex;
    flex-wrap: wrap;
}

.my-profile-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 139px 25px;
    background-color: #000000;
}

.initials {
    padding: 30px 27px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    color: #BB945F;
    background-color: #ffffff;
}

.user-name {
    padding: 5px 15px;
    margin-top: 15px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;

    background-color: #ffffff;
}

.my-profile-details {
    margin-left: 20px;
    margin-right: 20px;
}

.my-profile-header {
    display: flex;
    justify-content: center;
}

.my-profile-title {
    margin-top: 40px;
    margin-right: 163px;
    margin-bottom: 40px;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.my-profile-svg {
    margin-top: 25px;
}

.reader-info {
    display: flex;
}

.reader-info-items {
    margin-right: 20px;
}

.reader-info-statistics-column {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.reader-info-icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rented-books-title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0C0C0E;
}

.rented-books {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

 li.rented-books-item {
    margin-bottom: 10px;
    list-style: inside;
}

.card-number-items {
    display: flex;
    margin-top: 40px;
    column-gap: 10px;
}

.rented-books-item {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card-number-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
     color: #0C0C0E;
}

.card-number {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #BB945F;
}
/* welcome section */

.welcome {
    margin: 0 auto;
}

.welcome-section {
    background: url(welcome-layout.png) 50% / cover no-repeat;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    height: 600px;

    margin: 0 auto;
    max-width: 1440px;
}

.overlayout {
    height: 300px;
    background:  linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10));
}

.title-wrapper {
    flex-shrink: 0;
    width: 600px;
    height: 220px;
    margin-bottom: 160px;

    background-color: #0C0C0E;
}

.title-welcome {
    margin: 35px 40px;

    color: #ffffff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.span-welcome {
    margin-right: 10px;
}

/* about section */

.about-section {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 19px;
    margin-bottom: 20px;

    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #0C0C0E;
}

.title-hr {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    align-self: center;

    margin-bottom: 40px;

    background: #0C0C0E;
}

.about-prgph {
    margin-bottom: 20px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
}

.photos-wrapper {
    width: 1400px;
    overflow: hidden;
}

.photos-block {
    display: flex;
    justify-content: space-around;

    margin-left: 7px;
    margin-right: 7px;
}

.photos {
    position: relative;
    left: 0;
    width: 2374px;
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    overflow: hidden;

    transition: 2s ease-in-out .5s;
}

.carrets {
    align-self: center;
    display: none;
}

.carousel-pagination {
    display: flex;
    justify-content: center;

    margin-top: 35px;
    margin-bottom: 38px;
    text-align: center;
}

.pagination-button {
    width: 16px;
    height: 16px;
    margin: 5px;

    border-radius: 50%;

    background-color: #000000;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #BB945F;
    box-shadow: 1px 1px 2px #BB945F;
    transition-duration: 0.5s;
}

.tablet {
    display: none;
}

.about-photo-girl {
    min-width: 450px;
    height: 560px;
    background: url(./images/about-photo-girl.png) lightgray 50% / cover no-repeat;
}

.about-photo-statues {
    min-width: 450px;
    height: 560px;
    background: url(./images/about-photo-statues.png) lightgray 50% / cover no-repeat;
}

.about-photo-books {
    min-width: 450px;
    height: 560px;
    background: url(./images/about-photo-books.png) lightgray 50% / cover no-repeat;
}

.about-photo-ladder {
    min-width: 450px;
    height: 560px;
    /* display: none; */
    background: url(./images/about-photo-ladder.png) lightgray 50% / cover no-repeat;
}

.about-photo-building {
    min-width: 450px;
    height: 560px;
    /* display: none; */
    background: url(./images/about-photo-building.png) lightgray 50% / cover no-repeat;
}

/* favorites section */

.favorites-section {
    display: flex;
    flex-direction: column;
}

.radio-buttons-form {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    margin-bottom: 34px;
    margin-left: 15px;
}

label {
    display: flex;
    margin-right: 86px;
}

#radio-button1, #radio-button2, #radio-button3, #radio-button4 {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}

label .custom-radio-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 17px;
    width: 17px;
    margin: 5px; /*!!! */
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
}

label:hover .custom-radio-button{
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
  }

label input:checked + .custom-radio-button{
    border-color: #000000;
    background-color: #FFFFFF;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
    cursor: default;
  }

  label:hover .custom-radio-button::before, label input:checked + .custom-radio-button::before{
    position: absolute;
    content: '';
    width: 7.5px;
    height: 7.5px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #0b0101;
    transform: translate(-50%,-50%);
  }

label input:checked + .radio-button-item::before{
    background-color: #000000;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
  }

.radion-btn-name {
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

.radion-btn-name:hover {
    font-weight: 700px;
    cursor: pointer;
}

.active {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 259px;
}

.spring, .summer, .autumn {
    width: 1420px;
    height: 1190px;
    position: absolute;
    column-gap: 259px;
    opacity: 0;
    transition-duration: 1s;
    z-index: 1;
}

.favorites-prgrph {
    margin-bottom: 37px;
    margin-left: 20px;

    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: #000;
}

.favorites-section-descriptions {
    /* position: relative;
    top: 0; */
    /* height: 1190px;  !!! */
    overflow: hidden;
    display: flex;

    padding-right: 60px;
    padding-left: 20px;
}

.bg-description {
    width: 550px;
    height: 555px;
    margin-bottom: 40px;

    border: 1px solid #000;
}

h3 {
    margin-top: -17px;
    margin-left: 20px;

    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h4 {
    margin-top: 20px;

    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bg-description-hr {
    width: 60px;
    height: 1px;
    flex-shrink: 0;
    
    margin-left: 20px;

    background:  #0C0C0E;
}


.bg-description-author {
    margin-top: 0px;

    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize; 
}

.description-prgrph {
    width: 355px;
    margin-top: 20px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.description-box {
    position: relative;
    display: flex;
}

.description-box-content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.favorites-books-photo {
   position: absolute;
   left: 370px;
   top: 100px;
}

.favorites-button {
    position: relative;
    top: 509px;
    left: 20px;
    z-index: 3;

    width: 75px;
    height: 30px;
    flex-shrink: 0;
    
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFFFFF;

    cursor: pointer;
}

.favorites-button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background-color: #BB945F;
    transition: 0.5s;
}
    
.btn-own {
    background-color: #FFFFFF;
    color: #BB945F;
    border: 1px solid #BB945F;
    cursor: none;
    pointer-events: none;
}

/* buy a card modal window */

.buy-a-card {
    display: none;
}

.buy-a-card-wrapper {
    width: 630px;
    margin: auto;
}


.buy-a-card-header {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    background-color: #000000;
}

.buy-a-card-svg {
    padding-top: 20px;
    margin-right: 20px;
}

.buy-a-card-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 143px;

    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.buy-a-card-content {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    /* margin-left: 40px; */
}

.buy-a-card-form {
    margin-top: 30px;
}

.buy-a-card-form-item {
    margin-bottom: 10px;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.3px;
}

.buy-a-card-input {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #BB945F;
}

.buy-a-card-input.small {
    width: 45px;
    height: 20px;
}

.buy-a-card-double-inputs {
    display: flex;
    gap: 10px;
}

article {
    width: 234px;
    margin-top: 30px;
    /* margin-right: 40px;
    margin-left: 40px; */
}
.buy-a-card-payment {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.buy-a-card-button {
    width: 75px;
    height: 30px;
    text-align: center;
    flex-shrink: 0;
    
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #ffffff;
}

.buy-a-card-total {
    margin-top: 10px;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* .hidden-content {
    display: none;
} */

/* coffee shop */

.coffee-shop-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.coffee-shop-prgrph {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.coffee-shop-menu {
    display: flex;
    justify-content: space-between;
}

.coffee-tea, .desserts-cakes {
    display: flex;
    flex-direction: column;

    margin-bottom: -15px;   /* !!! */
}

.desserts-cakes {
    align-items: flex-end;
}

.coffee-tea-content, .desserts-cakes-content {
    display: flex;
    flex-direction: row;
    gap: 60px;
} 

.coffe-shop-items-title {
    margin-top: 40px;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.coffee-shop-price-list {
    margin-left: -3px;
}

.coffee-tea-items, .desserts-cakes-items {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.desserts-cakes-items {
    text-align: end;
}

.coffe-shop-menu-item {
    margin-top: 40px;
}

.coffee-shop-section-hr {
    width: 101px;
    height: 1px;
    margin-bottom: 79px;

    background: #BB945F;
}

.hr-items {
    margin-top: 60px;
}

.coffee-shop-price-list {
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.price-item {
    margin-top: 40px;
    margin-left: -1px;
}

/* our contacts section */

.our-contacts-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.our-contacts-title {
    margin-top: 9px;
}

.links-contacts-section {
    text-decoration: none;
    color: #000000;
}

.links-contacts-section:hover {
   color: #BB945F;
   animation-duration: 1s;
}

.our-contacts-content {
    display: flex;
    gap: 201px;
}

.contacts-list-title1, .contacts-list-title2 {
    margin-left: 18px;
    
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-list-title1 {
    margin-top: -4px;
    margin-bottom: 42px;
}

.contacts-list-title2 {
    margin-bottom: 20px;
}

.contacts-list-item {
    margin-bottom: 20px;
    margin-left: 20px;
   
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-phonenumbers {
    margin-bottom: 40px;
}

/* digital-library-cards */

.digital-library-cards-section {
    display: flex;
    flex-direction: column;

    margin-bottom: 42px;
}

.dl-cards-section-content {
    display: flex;
    gap: 344px;
}

.library-cards-title {
    margin-bottom: 30px;
    margin-left: 158px;

    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.dlcards-form-title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.library-card-block {
    width: 600px;
    flex-shrink: 0;
    margin-left: 18px;

    border: 3px solid #BB945F;
    background: #FFF;
    box-shadow: 0px 5px 5px #c4bdbd;
}

.library-cards-form {
    width: 560px;
    margin: 18px 20px;
    background: #BB945F;
}

.input-dlcards-section {
    width: 520px;
    height: 66px;
    flex-shrink: 0;

    margin-bottom: 25px;
    padding-left: 20px;

    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;

    border-radius: 10px;
}

.input-dlcards-section::placeholder {
    padding-top: 8px;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.dlcards-section-button-block {
    margin-bottom: 27px;
    margin-left: 177px;
}

.dlcards-section-button {
    padding: 10px 40px;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #0C0C0E;
}

.dlcards-get-card-block {
    margin-right: 20px
}

.card-block-title {
    margin-bottom: 35px;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card-block-prgrph {
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.card-block-button-sign-up, .card-block-button-log-in {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.library-cards-form {
    width: 560px;
    display: flex;
    flex-direction: column;
}

.form-dlcards-section {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-left: 20px;
}

.dlcards-get-card-block-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;

    margin-top: 35px;
}

.dlcards-section-button:hover, .card-block-button-sign-up:hover, .card-block-button-log-in:hover {
    background-color: #BB945F;
    transition-duration: 0.5s;
    cursor: pointer;
}

/* LibraryCard after login in account modal */

.library-card-after {
    display: none;
    /* display: flex;
    flex-direction: column; */
}

.title-hr-after {
    width: 50px;
    height: 1px;
    align-self: center;
    margin-bottom: 40px;
    background: #0C0C0E;
}
.dlcards-statistics {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15px;
}

.dlcards-icon {
    text-align: center;
}

.dlcards-profile-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;

    margin-top: 35px;
}
/* footer styles */

.footer {
    background: #000000;
}

.hr-footer {
    height: 1px;
    margin-top: -2px;
    margin-left: 20px;
    margin-right: 20px;
    background: #FFF;
}

.footer-above-line {
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

.address-icons-footer {
    align-self: stretch;
}

.prgrph-footer-address, .prgrph-footer-timetable {
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    color: #FFFFFF;
}

.prgrph-footer-address {
    margin-bottom: 10px;
    text-align: left;
}

.icons-footer {
    display: flex;
    gap: 15px;

    margin-top: 19px;
}

.prgrph-footer-timetable {
    margin-bottom: 10px;
}

.footer-under-line {
    display: flex;
    justify-content: space-between;

    padding: 35px 20px;
}

.footer-under-line-item, .footer-under-line-item2 {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;

    color: #FFFFFF;
}

.footer-under-line-item2 {
    margin-left: 140px;
}

.links-footer {
    color: #FFFFFF;
    text-decoration: none;
}

@media  screen and (max-width: 1160px) {
    .dl-cards-section-content {
        display: flex;
        gap: 30px;
    }
}

@media  screen and (max-width: 1100px) {
    .photos {
        display: flex;
        flex-wrap: wrap;
    }

    .spring, .summer, .autumn {
        width: auto;
}

.our-contacts-content {
    display: flex;
    gap: 0px;
}
}

@media screen and (max-width: 1024px) {
    /* header */

    .nav-list {
        display: none;
    }

    .icon-header {
        position: relative;
        right: 42px;
        /* padding-bottom: 8px;
        padding-right: 82px; */
    }

    .drop-menu-no-authorization_active, .drop-menu-with-authorization_active {
        position: absolute;
        right: 110px;
    }

    .burger-menu-container_active{
        opacity: 0;
    }

   .burger-menu_active {
        width: 332px;
        height: 470px;
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        
        background-color: #000000;
    }

    .burger-menu-item {
        margin-bottom: 31px;
    }

    .burger-icon {
        position: relative;
        bottom: 17px;
        height: 20px;
        width: 40px;
        cursor: pointer;
    }

     .burger-icon span,
     .burger-icon::before,
     .burger-icon::after {
        position: absolute;
        display: flex;
        right: 0;
        width: 44px;
        height: 2px;
        background: #ffffff;
        transition-duration: 1s;
    }

    .burger-icon  span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger-icon-active span {
        transform: scale(0) translate(0px, -50%);
    }

    .burger-icon::before { 
        top: 0;
        content: "";
    }

    .burger-icon::after {
        bottom: 0;
        content: "";
    }

    .burger-icon-active::before {
        top: 45%;
        transform: rotate(-45deg);
    }

    .burger-icon-active::after {
        bottom: 45%;
        transform: rotate(45deg);
    }

    /* about us section */

    /* .about-photo-girl, .about-photo-books, .about-photo-statues, .about-photo-ladder, .about-photo-building {
        position: absolute;
        top: 0;
        left: 0;
    } */

    .about-prgph {
        margin-right: 20px;
        margin-left: 20px;
    }

    .photos-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 30px;
    }

    .photos-wrapper {
        width: 450px;
        overflow: hidden;
    }

    .photos {
        position: relative;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;

        transition: 2s ease-in-out 0.5s;
    }
    
    .carrets {
        display: flex;
        align-self: center;   
    }

    .carret-left {
        margin-left: 55px;
        margin-top: 40px;
    }

    .carret-right {
        margin-right: 55px;
        margin-top: 40px;
    }


    .carousel-pagination {
        margin-top: 20px;
    }

    .tablet {
        display: flex;
    }

    /* favorites section */

    .radio-buttons-form {
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: #ffffff;
    }
        
    .favorites-section-descriptions {
        /* height: 2380px; */
        margin-left: 70px;
    }

    label {
        margin-right: 87px;
    }

    .spring, .summer, .autumn {
        width: auto;
    }

    /* coffee shop section */

    .coffee-shop-menu {
        flex-direction: column;
    }

    .desserts-cakes {
        margin-bottom: -16px;
    }

    .coffee-tea {
        margin-bottom: -60px;
    }

    /* our contacts section */

    .our-contacts-content {
        display: flex;
        flex-direction: column;
        gap: 83px;
    }

    .our-contacts-section {
        margin-bottom: 38px;
    }

    .map {
        margin-left: 40px;
        padding-right: 40px;
    }

    iframe {
        width: 100%;
    }

    /* digital library cards section */

    .digital-library-cards-section {
        margin-bottom: 39px;
    }

    .library-cards-title {
        margin-left: 140px;
    }

    .library-card-block {
        margin-left: 0;
    }

    .dlcards-get-card-block {
        margin-right: 0;
    }

    .dl-cards-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }

    .dlcards-get-card-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-block-prgrph {
        text-align: center;
        margin-top: 5px;
        padding-left: 84px;
        padding-right: 84px;
    }

    .dlcards-get-card-block-buttons {
        margin-top: 39px;
    }

    /* footer */

    .hr-footer {
        width: 95vw;
    }

    .footer-under-line-item2 {
        margin-left: 91px;
    }
}

@media  screen and (max-width: 715px) {
    .radio-buttons-form {
        flex-wrap: wrap;
    }

    .favorites-section-descriptions {
        margin-left: 0px;
    }  
}