* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */

.header-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.start, .pause, .restart {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* tetris styles */

.tetris-box {
    display: flex;
    justify-content: center;
}

.game-field {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(231, 231, 148);
    overflow: hidden;
}

.game-field div {
    width: 20px;
    height: 20px;
    border: 1px solid #cf8c8c; 
}

/* .stop {
    background-color: rgb(25, 143, 103);
} */

.tetromino {
    background-color: rgb(25, 143, 103);
}

.side-bar {
    margin-left: 50px;
}

/* next tetromino style */

.next {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(231, 231, 148);
}

.next div {
    width: 20px;
    height: 20px;
    border: 1px solid #cf8c8c; 
}

/* footer styles */

.footer-box {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 5px;
}

.footer-item {
    align-self: center;
}