* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background-color: #b0e1de;
}

.wrapper {
    margin: 0 auto;
    /* height: 100vh; */

    background: url(/Audio-player/assets/img/fukurou.jpg) 50% / cover no-repeat;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* player styles */

.player-box-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}

.player-box {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background: linear-gradient(#d6a8b9, rgb(165 91 105));

    border-radius: 5%;
    box-shadow: 5px 5px 58px 14px #886363;;
}

.track-image {
    width: 20rem;
    height: 11rem;
    background: url(/Audio-player/assets/img/fukurou.jpg) 50% / cover no-repeat;
    border-radius: 5% 5% 0 0;
}

/* buttons */

.buttons {
    display: flex;
}

.button-pause {
    display: none;
}

.button-pause,
.button-play,
.current {
    align-self: center;
    margin-right: 10px;
}

.current {
    width: 9rem;
}

/* progress bar */

.player-controllers {
    display: flex;
    flex-direction: column;
}

.progress-bar {
    width: 200px;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 25px;
    align-self: center;
    background-color: #100b0b;
}

/* footer styles */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #af63e8;
}